@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), sans-serif;
}